.main-container{
    background-color: var(--white);
    border-radius: 5% 5% 25% 5%;
    position: relative;
    max-width: 800px;
    min-height: 500px;
}

.content__container{
    max-width: 80%;
    margin: 0 auto;
}

.input-group{
    display: flex;
    align-items: center;
    align-items: center;
    padding: 40px 90px 40px 0px;
    border-bottom:1px solid var(--smoke-grey) ;
}

.ind-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--smoke-grey);
    letter-spacing: .2em;
}

.ind-input input {
    width: 65%;
    padding: 20px  10px;
    border-radius: 10px;
    border: 1px solid var(--smoke-grey);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
}

.ind-input input::placeholder{
    font-size: 1.25rem;
    font-weight: 700;
    padding-left: 10px;
}

.ind-input input:focus{
    outline: none;
    border: 1px solid var(--purple);
}

.ind-input input:hover{
    cursor: pointer;
    outline: none;
    border: 1px solid var(--purple);
}

.btn{
    border-radius: 50%;
    padding: 20px;
    background-color: var(--purple);
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 26%;
}

.btn:hover{
    background-color: var(--off-black);
}

.output-container{
    margin: 50px 0px;
}

.ind-output{
    display: grid;
    grid-template-columns: min-content 1fr;
}


.title{
    font-size: 5.5rem;
    color: var(--off-black);
}

.output{
    width: 150px;
    color: var(--purple);
    font-size: 5.5rem;
}

.error-field{
    font-style: italic;
    font-size: .5rem;
    font-weight: bold;
    color: var(--light-red);
}

.error{
    color: var(--light-red);
}

.error input{
    border: 1px solid var(--light-red);
}
